<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div id="container">
        <h1 class="padd">Sudoku Solver</h1>
        <form id="sudoku-form">
            <label for="sudoku-size">Select Sudoku Board Size:</label>
            <div class="relative ">
                <button id="sudoku-size-button" style="margin-bottom: 10px;" class="border border-gray-300 px-4 py-2 rounded text-black">
                    {{ selected_size }}x{{ selected_size }}
                </button>
                <div id="sudoku-size-options" class="hidden absolute z-10 right-0 mt-2 py-2 w-32 bg-white rounded border border-gray-300">
                    {% for option in size_options %}
                    <a class="size-button" href="{{ url_for('home', selected_size=option) }}" class="block w-full text-left px-4 py-2 hover:bg-blue-100">{{ option }}x{{ option }}
                    </a> {% endfor %}
                </div>
            </div>
            <br>
            <div class="flex flex-wrap" style="display: flex; flex: 1 1 0%;">
                <table id="sudoku-board" class="table-auto mx-auto">
                    <tbody>
                        {% for row in range(selected_size) %}
                        <tr>
                            {% for col in range(selected_size) %}
                            <td contenteditable="true" class="" pattern="[1-9]" title="Please enter a digit between 1 and {{selected_size}}">
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table id="solution-board" class="table-auto mx-auto">
                    <colgroup id="colgroup-solution"></colgroup>
                    <tbody>
                        <!-- Use placeholders for solution cells -->
                    </tbody>
                </table>
            </div>
            <div class="btns">
                <div>
                    <button id="solve-button" type="button">Solve</button>
                </div>
                <div>
                    <button id="clear-button" type="button">Clear board</button>
                </div>
            </div>
        </form>
        <div id="solution" class="text-center font-bold mt-4"></div>
    </div>

    <script>
        document.addEventListener("input", function(event) {
            if (event.target.isContentEditable) {
                var content = event.target.textContent.trim();
                if (content.length > 1 || (content.length === ("{{selected_size}}").length && (content < "1" || content > "{{selected_size}}"))) {
                    event.target.textContent = "";
                }
            }
        });

        document.getElementById("solve-button").addEventListener("click", function() {
            var puzzle = [];
            var rows = document.querySelectorAll("#sudoku-board tbody tr");
            rows.forEach(function(row) {
                var cells = Array.from(row.querySelectorAll("td"));
                puzzle.push(cells.map(function(cell) {
                    return cell.textContent.trim() || "0";
                }));
            });

            fetch("/solve-sudoku", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        puzzle: puzzle
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.solution) {
                        var solutionTable = document.getElementById("solution-board");
                        solutionTable.innerHTML = ""; // Clear existing solution
                        // Iterate through the solution and update the solution table
                        data.solution.forEach(function(solutionRow, rowIndex) {
                            var row = document.createElement("tr");
                            solutionTable.appendChild(row);
                            solutionRow.forEach(function(solutionCell, colIndex) {
                                var cell = document.createElement("td");
                                cell.textContent = solutionCell;
                                // Check if it's a solved digit and add the "solved" class
                                if (solutionCell !== "0" && solutionCell === puzzle[rowIndex][colIndex]) {
                                    cell.classList.add("solved");
                                }
                                // Check if it's a user-inputted digit and add the "user-input" class
                                if (solutionCell !== "0" && solutionCell !== puzzle[rowIndex][colIndex]) {
                                    cell.classList.add("user-input");
                                }
                                row.appendChild(cell);
                            });
                        });
                    } else {
                        document.getElementById("solution-board").textContent = "No solution found.";
                    }
                })
                .catch(error => {
                    console.error("Error: " + error);
                    document.getElementById("solution-board").textContent = "An error occurred.";
                });
        });

        document.getElementById("clear-button").addEventListener("click", function() {
            document.getElementById("solution").textContent = "";
            var cells = document.querySelectorAll("#sudoku-board td");
            cells.forEach(function(cell) {
                cell.textContent = "";
            });
        });
    </script>
</body>

</html>